/*style.css*/

body{
    background-color: rgb(192, 200, 179);
    color: darkolivegreen;
    text-align: center;
    font-family: fantasy;
}

div h3{
    display: inline;
    margin-right: 4em;
    color: darkolivegreen;
}

ul{
    display: table; 
    margin: 0 auto;
    text-align: left;
}

ol{
    text-align: left;
}